@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: pink;
    padding: 10vw;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2em;
}
.card {
    padding: 2em;
    background: pink;
    border-radius: .4em;
    /* text-align: center;
    /* box-shadow: horizontal vertical blur color;  */
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.06); 
}
.card:hover,
.card:focus {
    box-shadow:
  0 4.5px 3.6px rgba(0, 0, 0, 0.024),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 30.1px 24.1px rgba(0, 0, 0, 0.046),
  0 100px 80px rgba(0, 0, 0, 0.07)
;
}
.card-img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 1em;
}

.title {
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
}

.desc {
    line-height: 1.7em;
    font-size: .9rem;
    color: #4C4C4C;
}

a {
    text-decoration: none;
    background: rgb(252, 143, 161);
    color: white;
    display: inline-block;
    padding: .7em 2em;
    border-radius: 2em;
    margin-top: 1em;
    font-size: .75rem;
}